/*
SEASONS
the design framework for treesaver

CREDITS
Thanks to Filipe Fortes and Bram Stein for Treesaver.........................................http://treesaverjs.com/
Thanks to Tim Murtaugh and Michael Pick for HTML5 Reset......................................http://html5reset.org/

Seasons is created and developed by Scott Kellum in collaboration with the Treesaver team....http://treesaver.net/

This is a styling framework to be used with Treesaver
It creates a flexable yet solid foundation for building templates.
*/

/* BASIC FUNCTIONS AND CSS RESET: */
@import url("lib/reset.css");



/* Select the page styles you wish to use - */
@import url("pages.css");

/* Select the chrome style you wish to use - */
@import url("chrome.css");



/* CORE TREESAVER FUNCTIONALITY: */
@import url("lib/core.css");

/* PLUGINS */
/* @import url("plugin/ios-perfect.css"); */
/* @import url("plugin/mobile.css"); */
/* @import url("plugin/no-treesaver.css"); */