/*
COLUMN WIDTHS
If you have a set of grids with a different column width, define it here. The department grid is here as an example but it is only nessisary to list the ones with a different size column from the standard width.
Column widths are measured by grid columns. The default should usually be 3 as that is what the image sizes are based on.
*/
.column {
  width: 244.938px;
  font-size: 1em;
  line-height: 1.333em;
  }


/*
TYPOGRAPHIC STYLES
Keep vertical spacing and all line-height attrubutes a multiple of your line-height to avoid text flow bugs. Do not use "!important" on any measurements here
Only use system fonts for paragraphs and other large bodies of text. If web fonts are used line endings will be missing or duplicated.
*/
p {
  color: #333333;
  text-indent: 1.333em;
  }
p.noindent, p.caption, .keeptogether p {
  text-indent: 0;
  }
p.caption {
  text-align: left;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold;
  }

h1 {
  font-family: sans-serif;
  font-size: 1.333em;
  line-height: 1em;
  }


/*
GENERAL GRID STYLES
Styles here apply to every grid in your publication
*/
.grid {
  margin: 21.333px;
  padding: 0 21.333px;
  background: white;
  }


/*
GRID STYLES
Styles to spefic grids in your publication, for example the department grid.
*/
.department.grid {
  
  }
