/* BODY COLOR */
body {
  background: #333333;
  overflow: hidden;
}

/* GRIDS */
.grid {
  margin: 16px;
  background-color: white;
}

/* Basic metrics for chrome */
.chrome {
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.chrome .viewer {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* Make sure the nav stays above the pages */
nav {
  display: block;
  position: absolute;
  z-index: 1; }

/* Show and hide navigation elements and sidebars */
.sidebar .content, .menu .content {
  display: none;
}
.sidebar.sidebar-active .content, .sidebar.menu-active .content, .menu.sidebar-active .content, .menu.menu-active .content {
  display: block;
}

/* LIGHTBOX */
.lightbox {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.lightbox .container {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: black;
}
