html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent;
  cursor: default; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

.zoomable, .zoomable * {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -ms-zoom-in;
  cursor: -o-zoom-in;
  cursor: zoom-in; }

.lightbox, .lightbox * {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -ms-zoom-out;
  cursor: -o-zoom-out;
  cursor: zoom-out; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

a:hover, a:active {
  outline: none; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

input {
  cursor: auto; }

textarea {
  cursor: text; }

a, a *, .clickable, label, input[type=button], input[type=submit], input[type=reset], button, #nextPage, #previousPage, #nextPage *, #previousPage * {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: bold; }

p {
  color: #333333;
  text-indent: 1.5em; }
  p.noindent, p.caption, .keeptogether p {
    text-indent: 0; }
  p.caption {
    text-align: left; }
    .lightbox p.caption {
      color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold; }

h1 {
  font-family: sans-serif;
  font-size: 1.5em;
  line-height: 1em; }

.grid {
  margin: 1.5em;
  padding: 0 1.5em;
  background: white; }

.viewer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

nav {
  display: block;
  position: absolute;
  z-index: 1; }

.sidebar .content, .menu .content {
  display: none; }
.sidebar.sidebar-active .content, .sidebar.menu-active .content, .menu.sidebar-active .content, .menu.menu-active .content {
  display: block; }

.lightbox {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5); }
  .lightbox .container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background: black; }

.r16x9.w1, .container.w1 [ratio="16x9"] img {
  width: 4.5em;
  height: 3em; }

.r16x9.w2, .container.w2 [ratio="16x9"] img {
  width: 10.5em;
  height: 6em; }

.r16x9.w3, .container.w3 [ratio="16x9"] img {
  width: 16.5em;
  height: 9em; }

.r16x9.w4, .container.w4 [ratio="16x9"] img {
  width: 22.5em;
  height: 13em; }

.r16x9.w5, .container.w5 [ratio="16x9"] img {
  width: 28.5em;
  height: 16em; }

.r16x9.w6, .container.w6 [ratio="16x9"] img {
  width: 34.5em;
  height: 19em; }

.r16x9.w7, .container.w7 [ratio="16x9"] img {
  width: 40.5em;
  height: 23em; }

.r16x9.w8, .container.w8 [ratio="16x9"] img {
  width: 46.5em;
  height: 26em; }

.r16x9.w9, .container.w9 [ratio="16x9"] img {
  width: 52.5em;
  height: 30em; }

.r16x9.w10, .container.w10 [ratio="16x9"] img {
  width: 58.5em;
  height: 33em; }

.r16x9.w11, .container.w11 [ratio="16x9"] img {
  width: 64.5em;
  height: 36em; }

.r16x9.w12, .container.w12 [ratio="16x9"] img {
  width: 70.5em;
  height: 40em; }

.r4x3.w1, .container.w1 [ratio="4x3"] img {
  width: 4.5em;
  height: 3em; }

.r4x3.w2, .container.w2 [ratio="4x3"] img {
  width: 10.5em;
  height: 8em; }

.r4x3.w3, .container.w3 [ratio="4x3"] img {
  width: 16.5em;
  height: 12em; }

.r4x3.w4, .container.w4 [ratio="4x3"] img {
  width: 22.5em;
  height: 17em; }

.r4x3.w5, .container.w5 [ratio="4x3"] img {
  width: 28.5em;
  height: 21em; }

.r4x3.w6, .container.w6 [ratio="4x3"] img {
  width: 34.5em;
  height: 26em; }

.r4x3.w7, .container.w7 [ratio="4x3"] img {
  width: 40.5em;
  height: 30em; }

.r4x3.w8, .container.w8 [ratio="4x3"] img {
  width: 46.5em;
  height: 35em; }

.r4x3.w9, .container.w9 [ratio="4x3"] img {
  width: 52.5em;
  height: 39em; }

.r4x3.w10, .container.w10 [ratio="4x3"] img {
  width: 58.5em;
  height: 44em; }

.r4x3.w11, .container.w11 [ratio="4x3"] img {
  width: 64.5em;
  height: 48em; }

.r4x3.w12, .container.w12 [ratio="4x3"] img {
  width: 70.5em;
  height: 53em; }

.r5x4.w1, .container.w1 [ratio="5x4"] img {
  width: 4.5em;
  height: 4em; }

.r5x4.w2, .container.w2 [ratio="5x4"] img {
  width: 10.5em;
  height: 8em; }

.r5x4.w3, .container.w3 [ratio="5x4"] img {
  width: 16.5em;
  height: 13em; }

.r5x4.w4, .container.w4 [ratio="5x4"] img {
  width: 22.5em;
  height: 18em; }

.r5x4.w5, .container.w5 [ratio="5x4"] img {
  width: 28.5em;
  height: 23em; }

.r5x4.w6, .container.w6 [ratio="5x4"] img {
  width: 34.5em;
  height: 28em; }

.r5x4.w7, .container.w7 [ratio="5x4"] img {
  width: 40.5em;
  height: 32em; }

.r5x4.w8, .container.w8 [ratio="5x4"] img {
  width: 46.5em;
  height: 37em; }

.r5x4.w9, .container.w9 [ratio="5x4"] img {
  width: 52.5em;
  height: 42em; }

.r5x4.w10, .container.w10 [ratio="5x4"] img {
  width: 58.5em;
  height: 47em; }

.r5x4.w11, .container.w11 [ratio="5x4"] img {
  width: 64.5em;
  height: 52em; }

.r5x4.w12, .container.w12 [ratio="5x4"] img {
  width: 70.5em;
  height: 56em; }

.r1x1.w1, .container.w1 [ratio="1x1"] img {
  width: 4.5em;
  height: 5em; }

.r1x1.w2, .container.w2 [ratio="1x1"] img {
  width: 10.5em;
  height: 11em; }

.r1x1.w3, .container.w3 [ratio="1x1"] img {
  width: 16.5em;
  height: 17em; }

.r1x1.w4, .container.w4 [ratio="1x1"] img {
  width: 22.5em;
  height: 23em; }

.r1x1.w5, .container.w5 [ratio="1x1"] img {
  width: 28.5em;
  height: 29em; }

.r1x1.w6, .container.w6 [ratio="1x1"] img {
  width: 34.5em;
  height: 35em; }

.r1x1.w7, .container.w7 [ratio="1x1"] img {
  width: 40.5em;
  height: 41em; }

.r1x1.w8, .container.w8 [ratio="1x1"] img {
  width: 46.5em;
  height: 47em; }

.r1x1.w9, .container.w9 [ratio="1x1"] img {
  width: 52.5em;
  height: 53em; }

.r1x1.w10, .container.w10 [ratio="1x1"] img {
  width: 58.5em;
  height: 59em; }

.r1x1.w11, .container.w11 [ratio="1x1"] img {
  width: 64.5em;
  height: 65em; }

.r1x1.w12, .container.w12 [ratio="1x1"] img {
  width: 70.5em;
  height: 71em; }

.r4x5.w1, .container.w1 [ratio="4x5"] img {
  width: 4.5em;
  height: 6em; }

.r4x5.w2, .container.w2 [ratio="4x5"] img {
  width: 10.5em;
  height: 13em; }

.r4x5.w3, .container.w3 [ratio="4x5"] img {
  width: 16.5em;
  height: 21em; }

.r4x5.w4, .container.w4 [ratio="4x5"] img {
  width: 22.5em;
  height: 28em; }

.r4x5.w5, .container.w5 [ratio="4x5"] img {
  width: 28.5em;
  height: 36em; }

.r4x5.w6, .container.w6 [ratio="4x5"] img {
  width: 34.5em;
  height: 43em; }

.r4x5.w7, .container.w7 [ratio="4x5"] img {
  width: 40.5em;
  height: 51em; }

.r4x5.w8, .container.w8 [ratio="4x5"] img {
  width: 46.5em;
  height: 58em; }

.r4x5.w9, .container.w9 [ratio="4x5"] img {
  width: 52.5em;
  height: 66em; }

.r4x5.w10, .container.w10 [ratio="4x5"] img {
  width: 58.5em;
  height: 73em; }

.r4x5.w11, .container.w11 [ratio="4x5"] img {
  width: 64.5em;
  height: 81em; }

.r4x5.w12, .container.w12 [ratio="4x5"] img {
  width: 70.5em;
  height: 88em; }

.r3x4.w1, .container.w1 [ratio="3x4"] img {
  width: 4.5em;
  height: 6em; }

.r3x4.w2, .container.w2 [ratio="3x4"] img {
  width: 10.5em;
  height: 14em; }

.r3x4.w3, .container.w3 [ratio="3x4"] img {
  width: 16.5em;
  height: 22em; }

.r3x4.w4, .container.w4 [ratio="3x4"] img {
  width: 22.5em;
  height: 30em; }

.r3x4.w5, .container.w5 [ratio="3x4"] img {
  width: 28.5em;
  height: 38em; }

.r3x4.w6, .container.w6 [ratio="3x4"] img {
  width: 34.5em;
  height: 46em; }

.r3x4.w7, .container.w7 [ratio="3x4"] img {
  width: 40.5em;
  height: 54em; }

.r3x4.w8, .container.w8 [ratio="3x4"] img {
  width: 46.5em;
  height: 62em; }

.r3x4.w9, .container.w9 [ratio="3x4"] img {
  width: 52.5em;
  height: 70em; }

.r3x4.w10, .container.w10 [ratio="3x4"] img {
  width: 58.5em;
  height: 78em; }

.r3x4.w11, .container.w11 [ratio="3x4"] img {
  width: 64.5em;
  height: 86em; }

.r3x4.w12, .container.w12 [ratio="3x4"] img {
  width: 70.5em;
  height: 94em; }

.c1 {
  margin-left: 0em; }

.c2 {
  margin-left: 6em; }

.c3 {
  margin-left: 12em; }

.c4 {
  margin-left: 18em; }

.c5 {
  margin-left: 24em; }

.c6 {
  margin-left: 30em; }

.c7 {
  margin-left: 36em; }

.c8 {
  margin-left: 42em; }

.c9 {
  margin-left: 48em; }

.c10 {
  margin-left: 54em; }

.c11 {
  margin-left: 60em; }

.c12 {
  margin-left: 66em; }

.w1 {
  width: 4.5em; }

.w2 {
  width: 10.5em; }

.w3 {
  width: 16.5em; }

.w4 {
  width: 22.5em; }

.w5 {
  width: 28.5em; }

.w6 {
  width: 34.5em; }

.w7 {
  width: 40.5em; }

.w8 {
  width: 46.5em; }

.w9 {
  width: 52.5em; }

.w10 {
  width: 58.5em; }

.w11 {
  width: 64.5em; }

.w12 {
  width: 70.5em; }

.column {
  width: 16.5em;
  font-size: 1em;
  line-height: 1.5em; }

.grid {
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased; }

.fixed.grid, .sizetocontainer.grid {
  max-width: none;
  max-height: none;
  min-width: none;
  min-height: none; }

html.js .hidden, html.no-js .hidden {
  display: none; }

.chrome, .viewer {
  position: absolute;
  display: block; }

.chrome {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

.container.scroll {
  position: absolute;
  overflow: auto;
  overflow-x: hidden; }

.grid .scroll-fade:after {
  content: "\0020";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), white); }

.container .scroll {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 40px; }

::-webkit-scrollbar, ::-moz-scrollbar, ::scrollbar {
  -webkit-appearance: none;
  width: 6px; }

::-webkit-scrollbar-thumb, ::-moz-scrollbar-thumb, ::scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5); }

.touch ::-webkit-scrollbar, .touch ::-moz-scrollbar, .touch ::-scrollbar {
  width: 3px; }

html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: serif;
  color: #333333;
  background-color: #666666; }

html, body {
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  word-wrap: break-word; }

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }

.column, .container {
  position: absolute;
  overflow: hidden;
  top: 2em;
  bottom: 3em; }

.column {
  min-height: 4.5em; }

#previousPage, #nextPage {
  opacity: 0.5; }

.grid.trimleft {
  padding-left: 0; }

.grid.trimright {
  padding-right: 0; }

figure {
  display: block; }

.colapsed {
  position: absolute; }

.topfix {
  top: 0; }

.rightfix {
  right: 0; }

.bottomfix {
  bottom: 0;
  top: auto; }

.leftfix {
  left: 0; }

.overflow {
  overflow: visible; }

.error, .loading {
  position: absolute; }
  .error#nextPage, .error#previousPage, .loading#nextPage, .loading#previousPage {
    display: none; }

.hidden, .microdata {
  display: none; }

.group {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0; }

.center, .center * {
  text-align: center; }

.nocap .caption {
  display: none; }

.fill .caption {
  padding-left: 1.5em;
  padding-right: 1.5em; }

.caption.left {
  text-align: left; }
.caption.right {
  right: 0;
  text-align: right; }

.insetcap .caption {
  position: absolute; }
.insetcap.ul .caption {
  top: 0;
  left: 0; }
.insetcap.ur .caption {
  top: 0;
  right: 0; }
.insetcap.ll .caption {
  bottom: 0;
  left: 0; }
.insetcap.lr .caption {
  bottom: 0;
  right: 0; }

.fullbleed {
  position: absolute;
  bottom: 0 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: auto; }

html:not(.browser-msie) .chrome:first-child .grid, html:not(.browser-msie) .chrome:first-child nav {
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

html:not(.browser-msie) .chrome:last-child .grid, html:not(.browser-msie) .chrome:last-child nav {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  filter: blur(0); }

.os-ipad, .os-ipad .grid, .os-iphone, .os-iphone .grid {
  -webkit-font-smoothing: antialiased; }

html.offline .no-offline, html.offline [data-requires~="no-offline"] {
  display: none; }
html.offline [data-requires~="offline"] {
  display: block; }

html.no-offline [data-requires~="no-offline"] {
  display: block; }
html.no-offline [data-requires~="offline"] {
  display: none; }

.r {
  background: #ff9999 !important; }

.g {
  background: #99ff99 !important; }

.b {
  background: #9999ff !important; }

.c {
  background: #99ffff !important; }

.m {
  background: #ff99ff !important; }

.y {
  background: #ffff99 !important; }

.ad.grid.w1 {
  width: 100px; }

.ad.grid.w2 {
  width: 200px; }

.ad.grid.w3 {
  width: 300px; }

.ad.grid.w4 {
  width: 400px; }

.ad.grid.w5 {
  width: 500px; }

.ad.grid.w6 {
  width: 600px; }

.ad.grid.w7 {
  width: 700px; }

.ad.grid.w8 {
  width: 800px; }

.ad.grid.w9 {
  width: 900px; }

.ad.grid.w10 {
  width: 1000px; }

.ad.grid.w11 {
  width: 1100px; }

.ad.grid.w12 {
  width: 1200px; }

@media screen and (-webkit-device-pixel-ratio: 1) and (device-width: 1024px) and (orientation: landscape), screen and (-webkit-device-pixel-ratio: 1) and (device-width: 600px) and (orientation: portrait) {
  html {
    font-size: 19.2px; } }
@media screen and (-webkit-device-pixel-ratio: 1.5) and (device-width: 683px) and (orientation: landscape), screen and (-webkit-device-pixel-ratio: 1.5) and (device-width: 400px) and (orientation: portrait) {
  html {
    font-size: 12.8px; } }
