/* BODY COLOR */
body {
  background: #333333;
  overflow: hidden;
}

/* Basic metrics for the viewer */
.viewer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* Make sure the nav stays above the pages */
nav {
  display: block;
  position: absolute;
  z-index: 1; }

/* Show and hide navigation elements and sidebars */
.sidebar .content, .menu .content {
  display: none; }
.sidebar.sidebar-active .content, .sidebar.menu-active .content, .menu.sidebar-active .content, .menu.menu-active .content {
  display: block; }


/* LIGHTBOX */
.lightbox {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5); }
  .lightbox .container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background: black; }
